@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

* {
  scrollbar-color: var(--color-slate-300) transparent;
}

.dark * {
  scrollbar-color: var(--color-slate-700) transparent;
}
